<%- include('header') %>
    <section name="abonements">
        <div class="head">
            <h1>Polls
                <div class="right">
                    <p><%- contacts.length %></p>
                    <a href="/outputs/polls.xlsx" download class="download">
                        <img src="/images/Download.svg" alt="">
                    </a>
                </div>
            </h1>
            <h4>Wir haben die Abstimmungen gezählt</h4>
        </div>
        <table>
            <tr class="header">
                <th>Datum</th>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Nachricht</th>
                <th>Entfernen</th>
            </tr>
            <% contacts.forEach(function(contact) { %>
            <tr>
                <td><%- contact.date.getDate() %>.<%- poll.date.getMonth()+1 %>.<%- poll.date.getFullYear() %></td>
                <td><%- contact.name %></td>
                <td><%- contact.email %></td>
                <td><%- contact.message %></td>
                <td>
                    <form action="/poll/<%= poll._id %>?_method=DELETE" method="POST">
                        <button>X</button>
                    </form>
                </td>    
            </tr>
            <% }); %>
        </table>
    </section>
</body>
</html>