<%- include('header') %>

<section name="images">
    <div class="head">
            <h1>Bilder
                <div class="right">
                    <p><%- photos.length %></p>
                </div>
            </h1>
            <h4>Wir haben die Abstimmungen gezählt</h4>
        </div>
        <% if(logos.length > 0) { %>

        <table>
            <tr class="header">
                <th>Logo</th>
                <th>URL</th>
                <th>Entfernen</th>
            </tr>
            <% logos.forEach(function(logo) { %>
            <tr>
                <td><img src="/images/logo/<%- logo %>" alt=""></td>
                <td><%- logo %></td>
                <td>
                    <form action="/poll" method="POST">
                        <button>X</button>
                    </form>
                </td>    
            </tr>
            <% }); %>
        </table>

        <% } %>

        <hr>

        <table>
            <tr class="header">
                <th>Bild</th>
                <th>URL</th>
                <th>Entfernen</th>
            </tr>
            <% photos.forEach(function(photo) { %>
            <tr>
                <td><img src="/images/team/<%- photo %>" alt=""></td>
                <td><%- photo %></td>
                <td>
                    <form action="/poll" method="POST">
                        <button>X</button>
                    </form>
                </td>    
            </tr>
            <% }); %>
        </table>
</section>