<%- include('header') %>

<section name="images">
    <div class="head">
        <h1>Bilder
            <div class="right">
                <p><%- photos.length %></p>
            </div>
        </h1>
        <h4>Wir haben die Abstimmungen gezählt</h4>
    </div>
    <% if(logos.length > 0) { %>

    <div class="container">
        <table>
            <tr class="header">
                <th>Logo</th>
                <th>URL</th>
                <th></th>
            </tr>
            <% logos.forEach(function(logo) { %>
            <tr>
                <td><img src="/images/logo/<%- logo %>" alt=""></td>
                <td><%- logo %></td>
                <td></td>
            </tr>
            <% }); %>
        </table>

        <% } %>

        <hr>

        <table style="height: 400px">
            <tr class="header">
                <th>Bild</th>
                <th>URL</th>
                <th>Entfernen</th>
            </tr>
            <% photos.forEach(function(photo) { %>
            <tr>
                <td><img src="/images/team/<%- photo %>" alt=""></td>
                <td><%- photo %></td>
                <td>
                    <form action="/dashboard/images" method="POST">
                        <input type="text" hidden name="image" value="<%- photo %>">
                        <button>X</button>
                    </form>
                </td>    
            </tr>
            <% }); %>
        </table>
    </div>

    <div class="image-uploader">
        <h1>Was willst Du hochladen?</h1>
        <div class="tabs">
            <div class="tab">
                Logo
            </div>
            <div class="tab">
                Team
            </div>
        </div>
        <tab-container>
        <!-- TAB CONTROLS -->
        <input type="radio" id="tabToggle01" name="tabs" value="1" checked /><label for="tabToggle01" checked="checked">TAB 01</label>
        <input type="radio" id="tabToggle02" name="tabs" value="2" /><label for="tabToggle02">TAB 02</label>
        <input type="radio" id="tabToggle03" name="tabs" value="3" /><label for="tabToggle03">TAB 03</label>
        <input type="radio" id="tabToggle04" name="tabs" value="4" /><label for="tabToggle04">TAB 04</label>
        <tab-content>
            <p>TAB 01 content</p>
        </tab-content>
        <tab-content>
            <p>TAB 02 content</p>
        </tab-content>
        <tab-content>
            <p>TAB 03 content</p>
        </tab-content>
        <tab-content>
            <p>TAB 04 content</p>
        </tab-content>
    </tab-container>
    </div>
</section>