<%- include('header') %>
<section name="user">
    <div class="head">
        <h1>Einstellungen</h1>
        <hr>
        <div class="intro">
            <h3>Servus, <%- user.username %>!</h3>
            <p><%- new Date().getDate() %>.<%- new Date().getMonth() + 1 %>.<%- new Date().getFullYear() %></p>
        </div>
    </div>
    <div class="dashboard">
        <hr class="divider">
        <div class="information">
            <h4>Account-Einstellungen</h4>
            <p>Ändere Deine Nutzereinstellungen. Merk Dir aber unbedingt Dein Passwort. Wir können es nicht mehr heraussuchen</p>
        </div>
        <form action="/dashboard/<%- user._id %>?_METHOD=PUT" method="post">
            <div class="user-input">
                <label for="">Benutzername</label>
                <input type="text" name="username" value="<%- user.username %>">
            </div>
            <div class="user-input">
                <label for="">Name</label>
                <input type="text" name="name" value="<%- user.name %>">
            </div>
            <div class="user-input">
                <label for="">E-Mail</label>
                <input type="text" name="email" value="<%- user.email %>">
            </div>
            <div class="user-input image">
                <label for="">Bild URL</label>
                <div class="upload">
                    <div class="input">
                        <input type="text" name="image" value="<%- user.image %>" placeholder="Bild">
                        <i class="fas fa-times" onclick="cleanInput();"></i>
                    </div>
                    <img src="<%- user.image %>" alt="<%- user.image %>">
                    <input type="file" name="image" id="image-upload" hidden>
                    <label class="image-upload" for="image-upload">
                        <img src="/images/Bild.svg" alt="" onclick="imageUpload();">
                        <p>Lade ein Bild hoch!</p>
                    </label>
                </div>
            </div>
            <div class="user-input">
                <label for="">Passwort</label>
                <input type="password" value="<%- user.password %>">
            </div>
            <button>Fertig!</button>
        </form>
    </div>
</section>

<script src="/scripts/image.js"></script>