<%- include('header') %>
<h1>Einstellungen</h1>
<hr>
<div class="header">
    <h3>Servus, <%- user.username %>!</h3>
    <p><%- new Date().getDate() %>.<%- new Date().getMonth() + 1 %>.<%- new Date().getFullYear() %></p>
</div>
<form action="/dashboard/<%- user._id %>?_METHOD=PUT" method="post">
    <div class="user-input">
        <label for=""></label>
        <input type="text" value="<%- user.username %>">
    </div>
    <div class="user-input">
        <label for=""></label>
        <input type="text" value="<%- user.name %>">
    </div>
    <div class="user-input">
        <label for=""></label>
        <input type="text" value="<%- user.email %>">
    </div>
    <div class="user-input">
        <label for=""></label>
        <input type="text" value="<%- user.image %>">
    </div>
    <div class="user-input">
        <label for=""></label>
        <input type="text" value="<%- user.password %>">
    </div>
    <button>Fertig!</button>
</form>
